
<div>



<input type="text" ng-model="text.noun" placeholder="Noun">
<input type="text" ng-model="text.plural" placeholder="Noun Plural">
<input type="text" ng-model="text.verb" placeholder="Verb">
<input type="text" ng-model="text.body" placeholder="Body Part">
<input type="text" ng-model="text.noun2" placeholder="Noun Plural">
<input type="text" ng-model="text.noun3" placeholder="Noun Plural">
<input type="text" ng-model="text.noun4 " placeholder="Noun Singular">
<input type="text" ng-model="text.noun5" placeholder="Noun Thing">
<input type="text" ng-model="text.noun6" placeholder="Body Part">

</div>

<div>


<button type="button" ng-click="grabName(text)">Submit</button>
</div>
